.images{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover img{
        transform: scale(1.1);
    }
    &:hover .item{
        opacity: 1;
    }
    img{
        transition: all .6s;
    }
    .item{
        position: absolute;
        background-color: rgba(0,0,0,.8);
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        transition: all .6s .5s;
        p{
            font-size: .7rem;
        }
    }
}
.cursor{
    cursor: pointer;
    transition: all .6s;
    &:hover{
        background-color: #000;
    }
}